@font-face{
	font-family: "Jaapokki";
	src: url("../fonts/Jaapokki-font-package-1.0/Regular/Jaapokki-Regular.otf");
}

body {
	font-size: 70px;
}

nav {
	font-size: 20px;
}

.navbar .navbar-nav {
	display: inline-block;
	float: none;
	vertical-align: top;
}

.navbar .navbar-collapse {
	text-align: center;
}

header {
	background-image: url("../img/cara1 copy.jpg");
	background-size: cover;
	background-attachment: fixed;
	height: 80vh;
	padding-top: 10vh;
}

header h1 {
	font-size: 6vh; 
	color: #EE2C2C;
	text-shadow: 0 0 40px black;
}

header#home img {

}

.fa {
	padding-top: 30px;
	padding-left: 25px;
	padding-right: 25px;
	color: red;
	font-size: 10vh;
	text-shadow: 0 0 40px black;
}

.fa:hover {
	color: white;
}

.btn {
	font-size: 30px;
	background-color: #0099FF;
	color: white;
	border: none;
	padding: 20px 15px 15px 15px;
	border-radius: 10px;
	font-family: "Jaapokki";
}

.btn:hover {
	background-color: white;
	color: #0099FF;
}

section#hours {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #EE2C2C;
	color: white;
	text-shadow: 0 0 10px black;
}

section#pictures h1 {
	color: white;
	text-shadow: 0 0 50px black;
}

section#hi {
	height: 20px;
}

#mixology {
	padding-top: 0;
	background-color: white;
}

section.mixology {
	border-top: solid #00688B 5px;
	border-bottom: solid #00688B 5px;
	border-left: solid #00688B 10px;
	border-right: solid #00688B 10px;
	border-radius: 5px;
	margin: 10px;
}

section.mixology h3 {
	color: #EE2C2C;
	text-shadow: 0 0 2px black;
}

section.mixology div{
	height: 140px;
}

.navbar-default {
	background-color: rgba(248, 248, 248, 0.7);
	border-bottom: none;
	font-weight: bold;
}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus {
	background-color: inherit;
	padding: 15px 27px 15px 27px;
}

.navbar-default .navbar-nav>.active>a:hover {
	color: rgba(238, 44, 44, 1);
	background-color: inherit;
	//color: white;
}

footer.with-top-margin {
	margin-top: 10px;
}

footer {
	height: auto;
	font-size: 20px;
	background-color: #EE2C2C;
	color: white;
	text-shadow: 0 0 40px black;
	padding-top: 10px;
}

@media screen and (max-width: 768px) {
	body {
		height: 40vh;    
	}
}

/*FOR APPLICATIONS STUFF*/

body#app {
	background: url("http://s3-media1.fl.yelpassets.com/bphoto/eTPMZcw2HQuB6OI77A2DqA/o.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: "Jaapokki";
}

.app-header {
	margin-top: 100px;
}

body#app .btn {
	margin-top: 10px;
}

.bottom {
	position: absolute;
	left: 0;
	bottom: 0;
}